blinker==1.9.0
click==8.2.1
colorama==0.4.6
Flask==2.3.3
Flask-Moment==1.0.6
Flask-SQLAlchemy==3.0.5
greenlet==3.2.4
gunicorn==21.2.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
Pillow==10.0.0
pypng==0.20220715.0
python-dotenv==1.0.0
qrcode==7.4.2
SQLAlchemy==2.0.43
typing_extensions==4.14.1
Werkzeug==3.1.3